<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/cal" method="post">
        <input type="text" name="operation" id="operation">operation</input>
        <input type="text" name="number1" id="number1">number1</input>
        <input type="text" name="number2" id="number2">number2</input>
        <input type="submit" name="btnnum" id="btnnum">Submit</input>
    </form>
</body>
</html>